@use '../variables' as *;
.menuMobile {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.menuMobile__container {
    height: 100vh;
    padding: 50px 50px 0 50px;
    background-color: $White;
    .close {
        position: absolute;
        right: 25px;
        top: 25px;
    }
    ul {
        margin-bottom: 40px;
        list-style: none;
        &:nth-child(3) {
            padding-top: 40px ;
            border-top: 1px solid $Very-light-pink;
        }
        &:nth-child(4) {
            position: absolute;
            top: calc(100vh - 170px);
        }
    }
    a {
        display: block;
        margin-bottom: 20px;
        font-weight: bold;
        color: $Black;
        text-decoration: none;
    }
    .email {
        margin-bottom: 10px;
        font-size: $sm;
        font-weight: 400;
    }
    .sign-out {
        margin-bottom: 0px;
        font-size: $sm;
        font-weight: 400;
        color: $Hospital-green;
    }
}